        @media (max-width:992px) {
            .main .main1 {
                height: 500px;
                width: 100%;
            }
            .main .menu ul li {
                font-size: 0.8rem;
            }
            .main .menu .dev {
                font-size: 2.2rem;
                margin-top: 130px;
            }
            .main .menu .web {
                font-size: 3.2rem;
            }
            .project_tag {
                padding: 100px 20px;
            }
            .project_tag .img {
                height: 200px;
                width: 200px;
            }
            .project_tag .project_heading {
                font-size: 3.2rem;
            }
            .project_tag .project_farming {
                width: 100%;
                height: 400px;
                background-size: 100% 100%;
                padding: 20px;
            }
            .project_tag .p2 {
                background-size: 100% 100%;
                margin: 30px 0 0 0px;
                padding: 20px;
            }
            .project_tag .project_farming::after {
                height: 400px;
            }
            .project_tag .project_farming::before {
                /* font-size: 3.5rem; */
                top: -0px;
                right: -0px;
            }
            .project_tag .p2::before {
                top: 0px;
                left: 0px;
            }
            .project_tag .project_farming:hover::before {
                display: none;
            }
            .project_farming .project_requid {
                transform: scale(0.6);
                width: 300px;
            }
            .project_farming:hover .project_requid {
                transform: scale(.7);
            }
            .project_requid .skill_icon {
                height: 30px;
            }
            .project_requid .skill_icon img {
                width: 30px;
            }
            .project_requid .project_name {
                font-size: 4rem;
            }
            .skill_tag {
                height: 900px;
            }
            .skill_tag .skill_heading {
                font-size: 3rem;
            }
            .skill_tag .skills {
                width: 100%;
                padding: 0 20px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 220px 220px 220px 220px 220px;
            }
            .contact .quick {
                height: 400px;
                width: 100%;
                padding: 25px 0 0 25px;
            }
            .contact .quick .phone {
                width: 300px;
            }
            .contact .me {
                width: 100%;
                padding: 25px 10px 25px 20px;
            }
            .footer .footer_resume {
                width: 100%;
                height: 80px;
                padding: 50px;
            }
            .footer .footer_social {
                width: 100%;
            }
        }
        
        @media (max-width:772px) {
            .main .main1 {
                height: 400px;
                width: 100%;
            }
            .main .menu .dev {
                font-size: 2rem;
                margin-top: 100px;
            }
            .main .menu .web {
                font-size: 2rem;
            }
            .project_tag {
                padding: 100px 20px;
            }
            .project_tag .img {
                height: 180px;
                width: 180px;
                left: 25%;
            }
            .project_tag .project_heading {
                font-size: 2rem;
            }
            .project_tag .project_farming {
                width: 100%;
                height: 300px;
                background-size: 100% 100%;
                padding: 20px;
            }
            .project_tag .p2 {
                background-size: 100% 100%;
                margin: 30px 0 0 0px;
                padding: 20px;
            }
            .project_tag .project_farming::after {
                height: 300px;
            }
            .project_tag .project_farming::before {
                font-size: 3rem;
                top: -0px;
                right: -0px;
            }
            .project_tag .p2::before {
                top: 0px;
                left: 0px;
            }
            .project_tag .project_farming:hover::before {
                display: none;
            }
            .project_farming .project_requid {
                transform: scale(0.6);
                width: 300px;
            }
            .project_farming:hover .project_requid {
                transform: scale(.7);
            }
            .project_requid .skill_icon {
                height: 30px;
            }
            .project_requid .skill_icon img {
                width: 30px;
            }
            .project_requid .project_name {
                font-size: 1.9rem;
            }
            .skill_tag {
                height: 1350px;
            }
            .skill_tag .skill_heading {
                font-size: 2rem;
                margin-left: 20px;
            }
            .skill_tag .skills {
                width: 100%;
                padding: 0 20px;
                grid-template-columns: 1fr;
                grid-template-rows: 220px 220px 220px 220px 220px;
            }
            .contact .quick {
                height: 400px;
                width: 100%;
                padding: 25px 0 0 25px;
            }
            .contact .quick .phone {
                width: 300px;
            }
            .contact .me {
                width: 100%;
                padding: 25px 10px 25px 20px;
            }
            .contact .me .contact1 {
                font-size: 25px;
            }
            .footer .footer_resume {
                width: 100%;
                height: 80px;
                padding: 50px;
            }
            .footer .footer_social {
                width: 100%;
            }
            .contact .me .button {
                margin-top: 20px;
            }
        }