        @media (max-width:576px) {
            .main .navbar h1 {
                font-size: 30px;
                /* background: yellow; */
            }
            .main .navbar h1 img {
                top: 0;
                left: 180px;
            }
            .main .navbar ul li {
                display: none;
            }
            .main .navbar ul .fa {
                display: block;
                margin: 5px 100%;
            }
            .main {
                background-size: cover;
                height: 390px;
            }
            .main .music {
                height: 200px;
                width: 80%;
                margin: 75px auto;
            }
            .main .music .p1 {
                font-size: 70px;
            }
            .main .music .p2 {
                top: -4%;
                left: 15%;
            }
            .rock .dj {
                width: 80%;
            }
            .rock .dj .ins .line {
                left: 24.5%;
            }
            .chin .wel {
                width: 80%;
                margin: 50px 0 0 90px;
            }
            .chin .sym {
                width: 100%;
                margin: 30px 0px;
                padding: 0px;
            }
            .chin .wel img {
                height: 350px;
                width: 70%;
            }
            .chin .sym h1 {
                font-size: 25px;
            }
            .black .exa .lov .mon {
                width: 100%;
            }
            .black .exa .lov .tue {
                width: 100%;
                margin: 0px;
                padding: 0px;
            }
            .black .exa .lov .tue .com a {
                font-size: 7px;
            }
            .sub {
                display: block;
                padding-left: 10px;
            }
            .sub.new {
                font-size: 10px;
                width: 100%;
            }
            .sub .yul {
                display: flex;
                width: 100%;
                margin-top: 15px;
            }
            .our .sel {
                width: 100%;
            }
            .rele div {
                font-size: 25px;
            }
            .stat {
                height: 245px;
            }
            .stat .slack {
                height: 200px;
            }
            .stat .slack .gfd .mal .gra {
                font-size: 6PX;
                padding: 0 5PX;
                line-height: 10px;
            }
            .stat .slack .gfd .mal .x {
                margin-top: 15PX;
                padding: 0 5PX;
            }
            .stat .slack .gfd .mal .y {
                margin-top: 30PX;
                padding: 0 5PX;
            }
            .foot .day .twi {
                width: 100%;
            }
            .qw {
                font-size: 8px;
            }
        }